* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  border: 2px solid blue;
  background-color: coral;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  justify-content: center;
  align-items: center;
}

.item {
  width: 200px;
  height: 200px;
  border: 2px solid blueviolet;
  background-color: chartreuse;
}
